In [1]:
import pandas as pd
from fancyimpute import KNN

In [2]:
# Defina o caminho para o arquivo train.csv
file_path = r'C:\Users\Kkk\3D Objects\HCT\train.csv'

# Leia o arquivo CSV
df = pd.read_csv(file_path)

# Exiba as primeiras linhas do dataframe
df.head()

,ID,dri_score,psych_disturb,cyto_score,diabetes,hla_match_c_high,hla_high_res_8,tbi_status,arrhythmia,hla_low_res_6,...,tce_div_match,donor_related,melphalan_dose,hla_low_res_8,cardiac,hla_match_drb1_high,pulm_moderate,hla_low_res_10,efs,efs_time
0,0,N/A - non-malignant indication,No,NaN,No,NaN,NaN,No TBI,No,6.0,...,NaN,Unrelated,"N/A, Mel not given",8.0,No,2.0,No,10.0,0.0,42.356
1,1,Intermediate,No,Intermediate,No,2.0,8.0,"TBI +- Other, >cGy",No,6.0,...,Permissive mismatched,Related,"N/A, Mel not given",8.0,No,2.0,Yes,10.0,1.0,4.672
2,2,N/A - non-malignant indication,No,NaN,No,2.0,8.0,No TBI,No,6.0,...,Permissive mismatched,Related,"N/A, Mel not given",8.0,No,2.0,No,10.0,0.0,19.793
3,3,High,No,Intermediate,No,2.0,8.0,No TBI,No,6.0,...,Permissive mismatched,Unrelated,"N/A, Mel not given",8.0,No,2.0,No,10.0,0.0,102.349
4,4,High,No,NaN,No,2.0,8.0,No TBI,No,6.0,...,Permissive mismatched,Related,MEL,8.0,No,2.0,No,10.0,0.0,16.223

In [3]:
df.describe()

,ID,hla_match_c_high,hla_high_res_8,hla_low_res_6,hla_high_res_6,hla_high_res_10,hla_match_dqb1_high,hla_nmdp_6,hla_match_c_low,hla_match_drb1_low,...,age_at_hct,hla_match_a_low,hla_match_b_high,comorbidity_score,karnofsky_score,hla_low_res_8,hla_match_drb1_high,hla_low_res_10,efs,efs_time
count,28800.000000,24180.000000,22971.000000,25530.000000,23516.000000,21637.000000,23601.000000,24603.000000,26000.000000,26157.000000,...,28800.000000,26410.000000,24712.00000,28323.000000,27930.00000,25147.000000,25448.000000,23736.000000,28800.000000,28800.000000
mean,14399.500000,1.764516,6.876801,5.143322,5.109202,8.617230,1.736876,5.160346,1.757808,1.715296,...,38.663162,1.709087,1.69962,1.702327,83.83208,6.903448,1.707128,8.664687,0.539306,23.237678
std,8313.988213,0.431941,1.564313,1.207757,1.214162,1.905125,0.447687,1.203240,0.435453,0.451282,...,21.147581,0.458259,0.46518,1.994443,11.02884,1.565017,0.461179,1.882746,0.498461,24.799748
min,0.000000,0.000000,2.000000,2.000000,0.000000,3.000000,0.000000,2.000000,0.000000,1.000000,...,0.044000,0.000000,0.00000,0.000000,40.00000,2.000000,0.000000,4.000000,0.000000,0.333000
25%,7199.750000,2.000000,6.000000,4.000000,4.000000,7.000000,1.000000,4.000000,2.000000,1.000000,...,19.539000,1.000000,1.00000,0.000000,70.00000,6.000000,1.000000,7.000000,0.000000,5.619750
50%,14399.500000,2.000000,8.000000,6.000000,6.000000,10.000000,2.000000,6.000000,2.000000,2.000000,...,41.006000,2.000000,2.00000,1.000000,90.00000,8.000000,2.000000,10.000000,1.000000,9.796500
75%,21599.250000,2.000000,8.000000,6.000000,6.000000,10.000000,2.000000,6.000000,2.000000,2.000000,...,55.965250,2.000000,2.00000,2.000000,90.00000,8.000000,2.000000,10.000000,1.000000,35.100000
max,28799.000000,2.000000,8.000000,6.000000,6.000000,10.000000,2.000000,6.000000,2.000000,2.000000,...,73.726000,2.000000,2.00000,10.000000,100.00000,8.000000,2.000000,10.000000,1.000000,156.819000

In [9]:
# Verificar a porcentagem de dados ausentes em cada coluna
missing_data = df_imputed_df.isnull().mean().sort_values(ascending=False) * 100
print(missing_data)

tce_match_Fully matched                        0.0
tbi_status_TBI +- Other, -cGy, fractionated    0.0
dri_score_Low                                  0.0
dri_score_Missing disease status               0.0
dri_score_N/A - disease not classifiable       0.0
                                              ...
hepatic_mild_Yes                               0.0
hepatic_severe_No                              0.0
hepatic_severe_Not done                        0.0
hepatic_severe_Yes                             0.0
age_at_hct                                     0.0
Length: 185, dtype: float64

In [7]:
# Variáveis categóricas corretamente identificadas
cat_cols_for_imputation = [
    'tce_match', 'mrd_hct', 'cyto_score_detail', 'tce_div_match', 'tce_imm_match', 
    'cyto_score', 'conditioning_intensity', 'cardiac', 'peptic_ulcer', 
    'arrhythmia', 'rheum_issue', 'rituximab', 'pulm_severe', 'diabetes', 
    'psych_disturb', 'pulm_moderate', 'hepatic_mild', 'hepatic_severe', 
    'renal_issue', 'obesity', 'prior_tumor', 'melphalan_dose', 'cmv_status', 
    'ethnicity', 'sex_match', 'vent_hist', 'in_vivo_tcd', 'gvhd_proph', 
    'donor_related', 'dri_score', 'tbi_status', 'graft_type', 'prim_disease_hct', 
    'prod_type', 'race_group'
]

# Variáveis numéricas corretamente identificadas
num_cols = [
    'hla_match_a_low', 'donor_age', 'karnofsky_score', 'comorbidity_score',
    'hla_high_res_6', 'hla_high_res_8', 'hla_high_res_10', 'hla_match_dqb1_high',
    'hla_low_res_10', 'hla_match_a_high', 'hla_match_c_high', 'hla_nmdp_6',
    'hla_match_b_high', 'hla_match_dqb1_low', 'hla_low_res_8', 'hla_match_drb1_high',
    'hla_low_res_6', 'hla_match_c_low', 'hla_match_drb1_low', 'hla_match_b_low',
    'efs_time', 'year_hct', 'efs', 'age_at_hct'
]

# Codificar apenas variáveis categóricas
df_encoded = pd.get_dummies(df[cat_cols_for_imputation])

# Combinar variáveis categóricas codificadas e variáveis numéricas
df_encoded = pd.concat([df_encoded, df[num_cols]], axis=1)

# Converter todas as colunas para float
df_encoded = df_encoded.astype(float)

# Aplicar KNN-Imputation
imputer = KNN(k=5)
df_imputed = imputer.fit_transform(df_encoded)

# Reconstruir o DataFrame original com os dados imputados
df_imputed_df = pd.DataFrame(df_imputed, columns=df_encoded.columns)

# Verificar se os valores foram preenchidos adequadamente
print(df_imputed_df.isnull().sum())

Imputing row 1/28800 with 4 missing, elapsed time: 1224.688
Imputing row 101/28800 with 0 missing, elapsed time: 1225.126
Imputing row 201/28800 with 0 missing, elapsed time: 1225.454
Imputing row 301/28800 with 0 missing, elapsed time: 1225.672
Imputing row 401/28800 with 16 missing, elapsed time: 1225.891
Imputing row 501/28800 with 0 missing, elapsed time: 1226.079
Imputing row 601/28800 with 5 missing, elapsed time: 1226.203
Imputing row 701/28800 with 0 missing, elapsed time: 1226.375
Imputing row 801/28800 with 1 missing, elapsed time: 1226.563
Imputing row 901/28800 with 4 missing, elapsed time: 1226.719
Imputing row 1001/28800 with 0 missing, elapsed time: 1226.891
Imputing row 1101/28800 with 0 missing, elapsed time: 1227.078
Imputing row 1201/28800 with 0 missing, elapsed time: 1227.281
Imputing row 1301/28800 with 0 missing, elapsed time: 1227.531
Imputing row 1401/28800 with 0 missing, elapsed time: 1227.703
Imputing row 1501/28800 with 0 missing, elapsed time: 1227.875
Imputing row 1601/28800 with 0 missing, elapsed time: 1228.062
Imputing row 1701/28800 with 1 missing, elapsed time: 1228.250
Imputing row 1801/28800 with 11 missing, elapsed time: 1228.515
Imputing row 1901/28800 with 0 missing, elapsed time: 1228.719
Imputing row 2001/28800 with 1 missing, elapsed time: 1228.922
Imputing row 2101/28800 with 1 missing, elapsed time: 1229.109
Imputing row 2201/28800 with 0 missing, elapsed time: 1229.343
Imputing row 2301/28800 with 0 missing, elapsed time: 1229.500
Imputing row 2401/28800 with 0 missing, elapsed time: 1229.656
Imputing row 2501/28800 with 1 missing, elapsed time: 1229.812
Imputing row 2601/28800 with 0 missing, elapsed time: 1229.981
Imputing row 2701/28800 with 0 missing, elapsed time: 1230.137
Imputing row 2801/28800 with 0 missing, elapsed time: 1230.325
Imputing row 2901/28800 with 5 missing, elapsed time: 1230.528
Imputing row 3001/28800 with 0 missing, elapsed time: 1230.746
Imputing row 3101/28800 with 14 missing, elapsed time: 1230.903
Imputing row 3201/28800 with 0 missing, elapsed time: 1231.121
Imputing row 3301/28800 with 0 missing, elapsed time: 1231.246
Imputing row 3401/28800 with 0 missing, elapsed time: 1231.402
Imputing row 3501/28800 with 2 missing, elapsed time: 1231.559
Imputing row 3601/28800 with 1 missing, elapsed time: 1231.762
Imputing row 3701/28800 with 0 missing, elapsed time: 1231.918
Imputing row 3801/28800 with 0 missing, elapsed time: 1232.152
Imputing row 3901/28800 with 0 missing, elapsed time: 1232.387
Imputing row 4001/28800 with 0 missing, elapsed time: 1232.558
Imputing row 4101/28800 with 0 missing, elapsed time: 1232.683
Imputing row 4201/28800 with 0 missing, elapsed time: 1232.840
Imputing row 4301/28800 with 2 missing, elapsed time: 1232.996
Imputing row 4401/28800 with 3 missing, elapsed time: 1233.199
Imputing row 4501/28800 with 0 missing, elapsed time: 1233.387
Imputing row 4601/28800 with 0 missing, elapsed time: 1233.574
Imputing row 4701/28800 with 4 missing, elapsed time: 1233.840
Imputing row 4801/28800 with 1 missing, elapsed time: 1234.011
Imputing row 4901/28800 with 2 missing, elapsed time: 1234.199
Imputing row 5001/28800 with 8 missing, elapsed time: 1234.355
Imputing row 5101/28800 with 0 missing, elapsed time: 1234.574
Imputing row 5201/28800 with 5 missing, elapsed time: 1234.714
Imputing row 5301/28800 with 0 missing, elapsed time: 1234.839
Imputing row 5401/28800 with 4 missing, elapsed time: 1235.027
Imputing row 5501/28800 with 6 missing, elapsed time: 1235.214
Imputing row 5601/28800 with 0 missing, elapsed time: 1235.417
Imputing row 5701/28800 with 0 missing, elapsed time: 1235.652
Imputing row 5801/28800 with 17 missing, elapsed time: 1235.776
Imputing row 5901/28800 with 1 missing, elapsed time: 1235.933
Imputing row 6001/28800 with 0 missing, elapsed time: 1236.120
Imputing row 6101/28800 with 0 missing, elapsed time: 1236.276
Imputing row 6201/28800 with 0 missing, elapsed time: 1236.464
Imputing row 6301/28800 with 0 missing, elapsed time: 1236.589
Imputing row 6401/28800 with 2 missing, elapsed time: 1236.776
Imputing row 6501/28800 with 0 missing, elapsed time: 1237.026
Imputing row 6601/28800 with 0 missing, elapsed time: 1237.198
Imputing row 6701/28800 with 0 missing, elapsed time: 1237.432
Imputing row 6801/28800 with 0 missing, elapsed time: 1237.573
Imputing row 6901/28800 with 1 missing, elapsed time: 1237.682
Imputing row 7001/28800 with 0 missing, elapsed time: 1237.870
Imputing row 7101/28800 with 0 missing, elapsed time: 1238.073
Imputing row 7201/28800 with 0 missing, elapsed time: 1238.292
Imputing row 7301/28800 with 0 missing, elapsed time: 1238.463
Imputing row 7401/28800 with 1 missing, elapsed time: 1238.635
Imputing row 7501/28800 with 0 missing, elapsed time: 1238.791
Imputing row 7601/28800 with 1 missing, elapsed time: 1239.010
Imputing row 7701/28800 with 0 missing, elapsed time: 1239.213
Imputing row 7801/28800 with 13 missing, elapsed time: 1239.416
Imputing row 7901/28800 with 0 missing, elapsed time: 1239.572
Imputing row 8001/28800 with 4 missing, elapsed time: 1239.729
Imputing row 8101/28800 with 5 missing, elapsed time: 1239.901
Imputing row 8201/28800 with 0 missing, elapsed time: 1240.041
Imputing row 8301/28800 with 0 missing, elapsed time: 1240.213
Imputing row 8401/28800 with 2 missing, elapsed time: 1240.541
Imputing row 8501/28800 with 17 missing, elapsed time: 1240.713
Imputing row 8601/28800 with 0 missing, elapsed time: 1240.916
Imputing row 8701/28800 with 0 missing, elapsed time: 1241.025
Imputing row 8801/28800 with 0 missing, elapsed time: 1241.197
Imputing row 8901/28800 with 0 missing, elapsed time: 1241.338
Imputing row 9001/28800 with 1 missing, elapsed time: 1241.525
Imputing row 9101/28800 with 0 missing, elapsed time: 1241.681
Imputing row 9201/28800 with 0 missing, elapsed time: 1241.853
Imputing row 9301/28800 with 0 missing, elapsed time: 1242.009
Imputing row 9401/28800 with 1 missing, elapsed time: 1242.181
Imputing row 9501/28800 with 0 missing, elapsed time: 1242.353
Imputing row 9601/28800 with 4 missing, elapsed time: 1242.525
Imputing row 9701/28800 with 1 missing, elapsed time: 1242.712
Imputing row 9801/28800 with 0 missing, elapsed time: 1242.931
Imputing row 9901/28800 with 3 missing, elapsed time: 1243.118
Imputing row 10001/28800 with 0 missing, elapsed time: 1243.337
Imputing row 10101/28800 with 1 missing, elapsed time: 1243.540
Imputing row 10201/28800 with 7 missing, elapsed time: 1243.868
Imputing row 10301/28800 with 0 missing, elapsed time: 1244.103
Imputing row 10401/28800 with 0 missing, elapsed time: 1244.259
Imputing row 10501/28800 with 0 missing, elapsed time: 1244.459
Imputing row 10601/28800 with 0 missing, elapsed time: 1244.772
Imputing row 10701/28800 with 0 missing, elapsed time: 1245.069
Imputing row 10801/28800 with 0 missing, elapsed time: 1245.287
Imputing row 10901/28800 with 0 missing, elapsed time: 1245.459
Imputing row 11001/28800 with 0 missing, elapsed time: 1245.662
Imputing row 11101/28800 with 0 missing, elapsed time: 1245.803
Imputing row 11201/28800 with 1 missing, elapsed time: 1246.022
Imputing row 11301/28800 with 17 missing, elapsed time: 1246.287
Imputing row 11401/28800 with 0 missing, elapsed time: 1246.412
Imputing row 11501/28800 with 0 missing, elapsed time: 1246.521
Imputing row 11601/28800 with 17 missing, elapsed time: 1246.662
Imputing row 11701/28800 with 0 missing, elapsed time: 1246.912
Imputing row 11801/28800 with 0 missing, elapsed time: 1247.131
Imputing row 11901/28800 with 0 missing, elapsed time: 1247.256
Imputing row 12001/28800 with 0 missing, elapsed time: 1247.396
Imputing row 12101/28800 with 0 missing, elapsed time: 1247.474
Imputing row 12201/28800 with 0 missing, elapsed time: 1247.615
Imputing row 12301/28800 with 0 missing, elapsed time: 1247.880
Imputing row 12401/28800 with 0 missing, elapsed time: 1248.021
Imputing row 12501/28800 with 0 missing, elapsed time: 1248.115
Imputing row 12601/28800 with 12 missing, elapsed time: 1248.193
Imputing row 12701/28800 with 0 missing, elapsed time: 1248.271
Imputing row 12801/28800 with 0 missing, elapsed time: 1248.380
Imputing row 12901/28800 with 1 missing, elapsed time: 1248.474
Imputing row 13001/28800 with 5 missing, elapsed time: 1248.568
Imputing row 13101/28800 with 0 missing, elapsed time: 1248.677
Imputing row 13201/28800 with 0 missing, elapsed time: 1248.755
Imputing row 13301/28800 with 0 missing, elapsed time: 1248.927
Imputing row 13401/28800 with 6 missing, elapsed time: 1249.036
Imputing row 13501/28800 with 3 missing, elapsed time: 1249.146
Imputing row 13601/28800 with 2 missing, elapsed time: 1249.255
Imputing row 13701/28800 with 0 missing, elapsed time: 1249.396
Imputing row 13801/28800 with 0 missing, elapsed time: 1249.489
Imputing row 13901/28800 with 0 missing, elapsed time: 1249.646
Imputing row 14001/28800 with 4 missing, elapsed time: 1249.818
Imputing row 14101/28800 with 0 missing, elapsed time: 1249.911
Imputing row 14201/28800 with 0 missing, elapsed time: 1250.021
Imputing row 14301/28800 with 0 missing, elapsed time: 1250.114
Imputing row 14401/28800 with 0 missing, elapsed time: 1250.192
Imputing row 14501/28800 with 0 missing, elapsed time: 1250.364
Imputing row 14601/28800 with 10 missing, elapsed time: 1250.505
Imputing row 14701/28800 with 0 missing, elapsed time: 1250.614
Imputing row 14801/28800 with 0 missing, elapsed time: 1250.692
Imputing row 14901/28800 with 0 missing, elapsed time: 1250.786
Imputing row 15001/28800 with 15 missing, elapsed time: 1250.973
Imputing row 15101/28800 with 0 missing, elapsed time: 1251.052
Imputing row 15201/28800 with 4 missing, elapsed time: 1251.208
Imputing row 15301/28800 with 17 missing, elapsed time: 1251.395
Imputing row 15401/28800 with 7 missing, elapsed time: 1251.552
Imputing row 15501/28800 with 10 missing, elapsed time: 1251.723
Imputing row 15601/28800 with 0 missing, elapsed time: 1251.833
Imputing row 15701/28800 with 0 missing, elapsed time: 1251.989
Imputing row 15801/28800 with 0 missing, elapsed time: 1252.082
Imputing row 15901/28800 with 11 missing, elapsed time: 1252.191
Imputing row 16001/28800 with 0 missing, elapsed time: 1252.285
Imputing row 16101/28800 with 0 missing, elapsed time: 1252.379
Imputing row 16201/28800 with 0 missing, elapsed time: 1252.492
Imputing row 16301/28800 with 0 missing, elapsed time: 1252.673
Imputing row 16401/28800 with 0 missing, elapsed time: 1252.845
Imputing row 16501/28800 with 0 missing, elapsed time: 1253.064
Imputing row 16601/28800 with 0 missing, elapsed time: 1253.204
Imputing row 16701/28800 with 2 missing, elapsed time: 1253.376
Imputing row 16801/28800 with 2 missing, elapsed time: 1253.517
Imputing row 16901/28800 with 0 missing, elapsed time: 1253.673
Imputing row 17001/28800 with 0 missing, elapsed time: 1253.767
Imputing row 17101/28800 with 18 missing, elapsed time: 1253.845
Imputing row 17201/28800 with 0 missing, elapsed time: 1253.939
Imputing row 17301/28800 with 0 missing, elapsed time: 1254.032
Imputing row 17401/28800 with 0 missing, elapsed time: 1254.126
Imputing row 17501/28800 with 0 missing, elapsed time: 1254.204
Imputing row 17601/28800 with 0 missing, elapsed time: 1254.282
Imputing row 17701/28800 with 1 missing, elapsed time: 1254.376
Imputing row 17801/28800 with 0 missing, elapsed time: 1254.470
Imputing row 17901/28800 with 0 missing, elapsed time: 1254.595
Imputing row 18001/28800 with 0 missing, elapsed time: 1254.704
Imputing row 18101/28800 with 0 missing, elapsed time: 1254.798
Imputing row 18201/28800 with 0 missing, elapsed time: 1254.985
Imputing row 18301/28800 with 2 missing, elapsed time: 1255.079
Imputing row 18401/28800 with 0 missing, elapsed time: 1255.173
Imputing row 18501/28800 with 0 missing, elapsed time: 1255.298
Imputing row 18601/28800 with 0 missing, elapsed time: 1255.376
Imputing row 18701/28800 with 6 missing, elapsed time: 1255.532
Imputing row 18801/28800 with 2 missing, elapsed time: 1255.641
Imputing row 18901/28800 with 17 missing, elapsed time: 1255.751
Imputing row 19001/28800 with 0 missing, elapsed time: 1255.876
Imputing row 19101/28800 with 0 missing, elapsed time: 1256.032
Imputing row 19201/28800 with 0 missing, elapsed time: 1256.110
Imputing row 19301/28800 with 0 missing, elapsed time: 1256.188
Imputing row 19401/28800 with 0 missing, elapsed time: 1256.313
Imputing row 19501/28800 with 0 missing, elapsed time: 1256.407
Imputing row 19601/28800 with 0 missing, elapsed time: 1256.485
Imputing row 19701/28800 with 0 missing, elapsed time: 1256.579
Imputing row 19801/28800 with 0 missing, elapsed time: 1256.672
Imputing row 19901/28800 with 0 missing, elapsed time: 1256.813
Imputing row 20001/28800 with 0 missing, elapsed time: 1256.938
Imputing row 20101/28800 with 1 missing, elapsed time: 1257.125
Imputing row 20201/28800 with 0 missing, elapsed time: 1257.297
Imputing row 20301/28800 with 0 missing, elapsed time: 1257.407
Imputing row 20401/28800 with 0 missing, elapsed time: 1257.485
Imputing row 20501/28800 with 0 missing, elapsed time: 1257.641
Imputing row 20601/28800 with 4 missing, elapsed time: 1257.735
Imputing row 20701/28800 with 0 missing, elapsed time: 1257.828
Imputing row 20801/28800 with 14 missing, elapsed time: 1257.938
Imputing row 20901/28800 with 0 missing, elapsed time: 1258.078
Imputing row 21001/28800 with 7 missing, elapsed time: 1258.203
Imputing row 21101/28800 with 1 missing, elapsed time: 1258.313
Imputing row 21201/28800 with 1 missing, elapsed time: 1258.422
Imputing row 21301/28800 with 2 missing, elapsed time: 1259.265
Imputing row 21401/28800 with 5 missing, elapsed time: 1260.062
Imputing row 21501/28800 with 17 missing, elapsed time: 1260.453
Imputing row 21601/28800 with 0 missing, elapsed time: 1260.593
Imputing row 21701/28800 with 0 missing, elapsed time: 1260.718
Imputing row 21801/28800 with 0 missing, elapsed time: 1261.203
Imputing row 21901/28800 with 0 missing, elapsed time: 1261.609
Imputing row 22001/28800 with 0 missing, elapsed time: 1261.796
Imputing row 22101/28800 with 0 missing, elapsed time: 1261.859
Imputing row 22201/28800 with 0 missing, elapsed time: 1261.968
Imputing row 22301/28800 with 0 missing, elapsed time: 1262.202
Imputing row 22401/28800 with 0 missing, elapsed time: 1262.499
Imputing row 22501/28800 with 0 missing, elapsed time: 1262.874
Imputing row 22601/28800 with 0 missing, elapsed time: 1263.390
Imputing row 22701/28800 with 0 missing, elapsed time: 1263.468
Imputing row 22801/28800 with 0 missing, elapsed time: 1263.702
Imputing row 22901/28800 with 0 missing, elapsed time: 1264.077
Imputing row 23001/28800 with 0 missing, elapsed time: 1264.639
Imputing row 23101/28800 with 0 missing, elapsed time: 1264.874
Imputing row 23201/28800 with 3 missing, elapsed time: 1265.155
Imputing row 23301/28800 with 0 missing, elapsed time: 1265.311
Imputing row 23401/28800 with 0 missing, elapsed time: 1265.811
Imputing row 23501/28800 with 0 missing, elapsed time: 1266.108
Imputing row 23601/28800 with 0 missing, elapsed time: 1266.201
Imputing row 23701/28800 with 0 missing, elapsed time: 1266.451
Imputing row 23801/28800 with 16 missing, elapsed time: 1266.701
Imputing row 23901/28800 with 8 missing, elapsed time: 1266.826
Imputing row 24001/28800 with 0 missing, elapsed time: 1267.170
Imputing row 24101/28800 with 0 missing, elapsed time: 1267.498
Imputing row 24201/28800 with 0 missing, elapsed time: 1267.904
Imputing row 24301/28800 with 0 missing, elapsed time: 1268.092
Imputing row 24401/28800 with 0 missing, elapsed time: 1268.495
Imputing row 24501/28800 with 0 missing, elapsed time: 1269.136
Imputing row 24601/28800 with 0 missing, elapsed time: 1269.308
Imputing row 24701/28800 with 0 missing, elapsed time: 1269.480
Imputing row 24801/28800 with 0 missing, elapsed time: 1269.698
Imputing row 24901/28800 with 2 missing, elapsed time: 1269.933
Imputing row 25001/28800 with 15 missing, elapsed time: 1271.527
Imputing row 25101/28800 with 0 missing, elapsed time: 1271.699
Imputing row 25201/28800 with 0 missing, elapsed time: 1271.980
Imputing row 25301/28800 with 1 missing, elapsed time: 1272.433
Imputing row 25401/28800 with 0 missing, elapsed time: 1272.917
Imputing row 25501/28800 with 0 missing, elapsed time: 1273.176
Imputing row 25601/28800 with 0 missing, elapsed time: 1273.294
Imputing row 25701/28800 with 0 missing, elapsed time: 1273.638
Imputing row 25801/28800 with 0 missing, elapsed time: 1273.797
Imputing row 25901/28800 with 0 missing, elapsed time: 1273.875
Imputing row 26001/28800 with 0 missing, elapsed time: 1274.000
Imputing row 26101/28800 with 0 missing, elapsed time: 1274.188
Imputing row 26201/28800 with 0 missing, elapsed time: 1274.344
Imputing row 26301/28800 with 0 missing, elapsed time: 1274.547
Imputing row 26401/28800 with 0 missing, elapsed time: 1274.766
Imputing row 26501/28800 with 0 missing, elapsed time: 1275.063
Imputing row 26601/28800 with 0 missing, elapsed time: 1275.125
Imputing row 26701/28800 with 0 missing, elapsed time: 1275.297
Imputing row 26801/28800 with 0 missing, elapsed time: 1275.594
Imputing row 26901/28800 with 17 missing, elapsed time: 1275.766
Imputing row 27001/28800 with 0 missing, elapsed time: 1276.172
Imputing row 27101/28800 with 0 missing, elapsed time: 1276.521
Imputing row 27201/28800 with 0 missing, elapsed time: 1276.990
Imputing row 27301/28800 with 0 missing, elapsed time: 1277.507
Imputing row 27401/28800 with 5 missing, elapsed time: 1277.835
Imputing row 27501/28800 with 0 missing, elapsed time: 1278.028
Imputing row 27601/28800 with 18 missing, elapsed time: 1278.263
Imputing row 27701/28800 with 0 missing, elapsed time: 1278.481
Imputing row 27801/28800 with 0 missing, elapsed time: 1278.622
Imputing row 27901/28800 with 0 missing, elapsed time: 1278.794
Imputing row 28001/28800 with 16 missing, elapsed time: 1279.340
Imputing row 28101/28800 with 0 missing, elapsed time: 1279.700
Imputing row 28201/28800 with 0 missing, elapsed time: 1279.840
Imputing row 28301/28800 with 13 missing, elapsed time: 1280.231
Imputing row 28401/28800 with 13 missing, elapsed time: 1281.371
Imputing row 28501/28800 with 12 missing, elapsed time: 1281.856
Imputing row 28601/28800 with 1 missing, elapsed time: 1282.309
Imputing row 28701/28800 with 0 missing, elapsed time: 1283.387
tce_match_Fully matched         0
tce_match_GvH non-permissive    0
tce_match_HvG non-permissive    0
tce_match_Permissive            0
mrd_hct_Negative                0
                               ..
hla_match_b_low                 0
efs_time                        0
year_hct                        0
efs                             0
age_at_hct                      0
Length: 185, dtype: int64

In [ ]:
# Plotar os valores de cada variável categórica
for col in cat_cols_for_imputation:
    print(f"Valores de {col}:")
    print(df[col].value_counts())
    print("\n")

In [8]:
df_imputed_df

,tce_match_Fully matched,tce_match_GvH non-permissive,tce_match_HvG non-permissive,tce_match_Permissive,mrd_hct_Negative,mrd_hct_Positive,cyto_score_detail_Favorable,cyto_score_detail_Intermediate,cyto_score_detail_Not tested,cyto_score_detail_Poor,...,hla_low_res_8,hla_match_drb1_high,hla_low_res_6,hla_match_c_low,hla_match_drb1_low,hla_match_b_low,efs_time,year_hct,efs,age_at_hct
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,42.356,2016.0,0.0,9.942
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,4.672,2008.0,1.0,43.705
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,19.793,2019.0,0.0,33.997
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,102.349,2009.0,0.0,43.245
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,16.223,2018.0,0.0,29.740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28795,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,18.633,2018.0,0.0,51.136
28796,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,6.0,1.0,5.0,1.0,2.0,1.0,4.892,2017.0,1.0,18.075
28797,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,8.0,2.0,6.0,2.0,2.0,2.0,23.157,2018.0,0.0,51.005
28798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,1.0,3.0,1.0,1.0,1.0,52.351,2018.0,0.0,0.044
28799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.0,6.0,2.0,2.0,2.0,25.158,2018.0,0.0,1.035